# macOS
.DS_Store

# Android/Gradle
**/build/
.gradle/
local.properties
.idea/git add .gitignore README.md

*.iml
.externalNativeBuild/

# Node
node_modules/
dist/

# NDK/OpenCV binaries
**/libs/
**/jniLibs/

# VS Code
.vscode/
